body{
    font-family: 'Roboto', sans-serif;
}

/*Estilo encabezado*/
header {
    background: #000000;
    padding: 20px;
}

.caja{
    width: 100%;
    position: relative;
    margin: 0 auto;
}


h1 img{
    max-width: 100%;
    height: auto;
    width: auto;
}

nav{
    position: absolute;
    top: 30px;
    right: 0px;
    width: 60%;
}
nav li {
    display: inline;
    margin: 0 0 0 15px;
}

nav a{
    text-transform: uppercase;
    color: #ffffff;
    font-weight: bold;
    font-size: 22px;
    text-decoration: none;
}

nav a:hover{
    color: #7a7a7a;
    text-decoration: underline;
}

/*Estilo Main*/

.yo{
    border-radius: 70px;
    height: 150px;
    width: 150px;
}
.home{
    padding: 3em 0;
    background: #FEFEFE;
    width: 940px;
    margin: 0 auto;
}

main div{
    text-align: center;
}

.titulo-principal{
    text-align: center;
    font-size: 2em;
    margin: 0 0 1em;
    clear: left;
}

h2{
    text-align: center;
    font-size: 30px;
}

main p{
    text-align: justify;
    font-size: 24px;
}

/*Principal*/
.home {
    width: 100%;
}

/*Certifiaciones*/
.certificaciones{
    width: 940px;
    margin: auto;
    padding-left: 50px;
}

.certificaciones h1{
    text-align: center;
    font-size: 30px;
    font-weight: bold;
}

.certificaciones li{
    display: inline-block;
    text-align: center;
    width: auto;
    vertical-align: top;
    margin: 0 1.5%;
    padding: 30px 20px;
    box-sizing: border-box;
    border: 2px solid #000000;
    border-radius: 10px;
}

.certificaciones li:hover{
    border-color: #ffffff;

}

.certificaciones h2{
    font-size: 30px;
    font-weight: bold;
}

.certificaciones p{
    font-size: 18px;
}

.certificaciones li:hover h2{
    font-size: 33px;
}

/*Estilo Footer*/

footer{
    background-color: #000000;
    color: #eeeeee;
    padding: 30px 0;
    font-family: 'Montserrat', sans-serif;
    font-weight: bold;
    text-align: center;
}
.contacto{
    max-width: 90%;
    margin: 0 auto;
    padding: 0 15px;
}
.fila{
    display: flex;
    flex-wrap: wrap;
    margin-right: -15px;
    margin-left: -15px;
}
.about{
    flex: 0 0 33%;
    max-width: 33%;
    text-align: center;
}
h3{
    margin-bottom: 15px;
    color: #ffffff;
}
.flist{
    list-style: none;
    margin: 0;
    padding: 0;
}
.frow{
    margin-bottom: 10px;
}
.icon-social li{
    display: inline-block;
    margin-right: 10px;
}
.icon-social li a{
    text-align: center;
    color: #eeeeee;
    font-size: 20px;
}
@media (max-width:991px){
    .about .contacto{
        flex: 0 0 100%;
        max-width: 50%;
    }

}
@media (max-width:767px){
    .about .contacto{
        flex: 0 0 100%;
        max-width: 100%;
    }
}
@media screen and (max-width: 400px){
    h1{
        text-align: center;
    }
    nav{
        position: static;
    }
    .caja .home{
        width: auto;
    }
}
